html {
  font-family: "Abhaya Libre", serif;
}

.masthead {
  text-align: center;
  background-color: #423ca3;
}

.logo {
  text-align: center;
}

.icon {
  text-align: center;
}

h1 {
  color: #fff;
}

a {
  color: #fff;
}

.btn {
  background-color: #15114c;
  border: none;
}

.nav {
  text-align: center;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: #423ca3;
  background-color: #fff;
}

@media only screen and (min-width: 60em) {

  .nav {
    text-align: right;
  }

  .logo {
    text-align: left;
  }

}
